/*Balise*/
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    background-color: rgb(52, 75, 94);
    margin: 0;
    color: white;
}
section{
    margin: 25px;
    
}
footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(0, 0, 0);
    border-top: 3px solid white;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: black;
}
nav div{
    font-size: 18pt;
    flex: 0 1 20%;
    text-align: center;
    border-left: 1px solid white;
}
nav a{
    padding-top: 24px;
    width: 100%;
    height: 100%;
}
nav a, footer a{
    display: block;
    block-size: fit-content;
    text-decoration: inherit;
    color: inherit;
}
h1{
    font-size: 20pt;
    margin: auto;
}
h2{
    margin: 0 0 10px 0;
}

/*Class*/
.section_content{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.26);
    background-color: rgba(0, 0, 0, 0.281);
    padding: 15px;
}
.content{
    margin: 80px 15px 0px 15px;
}
.intro{
    margin-right: 5%;
    margin-left: 5%;
    padding: 15px;
    background-color: rgba(15, 15, 15, 0.158);
}
.tinyImg{
    width: 30px;
    height: 30px;
    margin: auto;
}
.listLangages{
    display: flex;
    justify-content: left;
}
.blockLangMini{
    margin-right: 10px;
    text-align: center;
}
.blockLangMini p{
    margin: 0;
}
.logoLang{
    width: 80px;
    margin: auto;
}
.module{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}
.blockProjet{
    display: flex;
    flex: 0 1 45%;
    flex-wrap: wrap;
    margin: 15px;
}
.blockProjetIllu{
    flex: 0 0 30%;
    object-fit: contain;
    width: 30%;
}
.blockProjetContent{
    flex: 50%;
}
.blockProjetInfo{
    display: flex;
    justify-content: space-between;
}
.blockLangage{
    flex: 0 0 20%;
    min-height: 135px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    
}
.blockLangage h3{
    margin: 0;
    text-align: center;
}
.blockExp{
    flex: 0 1 45%;
    margin: 15px;
}
.expG{
    display: flex;
    justify-content: space-between;
}
.expGInfo{
    flex: 0 1 60%;
}
.expLogoEntr{
    flex: 0 1 35%;
    object-fit: contain;
    width: 35%;
}
.expLangTache{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.expLang{
    flex: 0 1 35%;
}
.expTache{
    flex: 0 1 45%;
}
.blockFormation{
    flex: 0 1 45%;
    padding: 10px;

}
.formationImg{
    float:left;
    margin: 5px;
}
.coordonne{
    width: 100%;
}
.reseaux{
    display: flex;
    justify-content:flex-end;
    padding-right: 20px;
}
.reseaux a{
    margin: 10px;
}
.Copyright{
    grid-area: 4/2;
}
.blockExp, .blockFormation, .blockProjet{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(15, 15, 15, 0.74);
    background-color: rgba(0, 0, 0, 0.281);
    margin: 0;
    padding: 10px;
}



/*ID*/
#langageModule{
    justify-content: space-around;
}
#button_intro{
    border: none;
}

/*Hover*/
footer img:hover{
    width: 35px;
    height: 35px;
}
nav div:hover{
    background-color: rgba(255, 255, 255, 0.26);
}